
html {
    position: relative;
    min-height: 100%;
  }
  body {
    padding-top: $navbar-height + $navbar-margin-bottom;
    margin-bottom: 46px;
  }
  
  .navbar-brand{
    img{
      margin: -$navbar-padding-vertical 0;
      height: $navbar-height;
      padding: 10px 0;
    }
  }
  
  
  .header-container {
    background-color: black;
    background: url('../img/bg.jpg') no-repeat 50% 0;
    color: #fff;
  
    h1 {
      color: #fff;
    }
    // background-attachment: fixed;
    background-size: cover;
    background-position: center 36%;
    margin-top: -37px;
  }
  .navbar-container {
    font-size: 16px;
  }
  .page-content {
    padding-bottom: 20px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding-top: 10px;
    background-color: $gray-lighter;
    color: $gray-dark;
  }
  
  .post-list-container {
    li a.active {
      font-weight: bold;
    }
  }
  *[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
  }
  .navbar-form .has-feedback .form-control-feedback{
    top:10px
  }
  
.l-container{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    max-width:1200px;
    padding:0 12px
}
@media only screen and (min-width:960px){
    .l-container{
        flex-direction:row;
        padding:0 28px
    }
}
.l-container--small{
    max-width:450px
}
.l-container--medium{
    max-width:600px
}
.l-container--large{
    max-width:750px
}
.l-container--col{
    flex-direction:column
}

.error-container{
  background-color: #fff;
  color: #222;
  border-radius: 12px;
  padding: 42px;
  text-align: center;
}

.error-container--title{
  color: #375a7f;
}

.error-container--body{
  padding-top: 15px;
  padding-bottom: 15px;
}

.error-container--footer{
  color: #777;
}

.has-spoiler {
  margin: 1.2em 0.8em;
  letter-spacing: 0.01em;
}

.spoiler-span {
  position: relative;
}

details {
  display: inline !important;
  line-height: 1.1em;
  color: #33bbaa;
}

summary {
  display: list-item;
  list-style-type: none;
  color: #990044;
  font-size: 0.78em;
  letter-spacing: 0.1em;
}

summary:before {
  content: "[SHOW SPOILER]";
}

summary::-webkit-details-marker {
  background: none;
  color: transparent;
}

summary:hover {
  color: #cc4477;
  cursor: pointer;
}

details[open] summary {
  position: absolute;
  top: 0.2em;
  left: 0;
}

details[open] summary:before {
  content: "[HIDE]";
}

:focus {
  border: 1px solid transparent;
  outline: none !important;
  -moz-appearance: none !important;
}