.l-container--medium {
    max-width: 600px
}

.l-container {
    display: flex;
    margin: 0 auto;
}

@media only screen and (min-width: 960px) {
    .l-container {
       flex-direction: row;
    }
}

.error-container {
    background-color: #fff;
    color: #222;
    border-radius: 12px;
    padding: 42px;
    text-align: center;
}